absl-py
astunparse
charset-normalizer
click
colorama
Flask
gunicorn
h5py
idna
importlib-metadata
itsdangerous
Jinja2
keras
libclang
numpy
tensorflow
requests
requests-oauthlib
rsa
termcolor
urllib3
Werkzeug

